#
# PROJECT:   Otokonoko no Sekai
# FILE:      .gitignore
# PURPOSE:   Git ignore list
#
# LICENSE:   See LICENSE in the top level directory
#
# DEVELOPER: Mouri_Naruto (Mouri_Naruto AT Outlook.com)
#

/.vs
/Output
/Dependencies/UefiPkg/Source/UefiPkg/.vs/UefiPkg/v16
/Dependencies/UefiPkg/Source/UefiPkg/Output/Release
